@using System.Globalization
@using Simpler.Net.Time
<!DOCTYPE html>
<html>
<head>
	<title>Diary</title>
	
	<link rel="stylesheet" href="~/fonts/open-sans.css" />
	<link rel="stylesheet" href="~/fonts/libre-baskerville.css" />
	
	<link rel="stylesheet" href="~/themes/base/theme.min.css" />
	
	<!-- jQuery -->
	<script src="~/libs/jquery/jquery-3.2.1.min.js"></script>
	
	<!-- jQuery UI -->
	<link rel="stylesheet" href="~/libs/jquery-ui-1.12.1.custom/jquery-ui.min.css"/>
	<script src="~/libs/jquery-ui-1.12.1.custom/jquery-ui.min.js"></script>
	
	@Html.Partial("Head/TimePicker")
	
</head>
<body>

<header>
	
</header>

<main>
	@RenderBody()
</main>

<footer>
	
	<section id="DataBlocks">
		<input type="hidden" id="CultureInfoDataBlock"
		       data-week-start-day="@((int) CultureInfo.CurrentCulture.DateTimeFormat.FirstDayOfWeek)"
		       data-unix-epoch="@SimplerTime.UnixEpochStart.ToShortDateString()"
		       data-timepicker-format-date="@CultureInfo.CurrentCulture.DateTimeFormat.ShortDatePattern.Replace("M", "m")"
					 data-timepicker-format-time="@CultureInfo.CurrentCulture.DateTimeFormat.ShortTimePattern"/>
	</section>
</footer>

</body>
</html>