@using Diary.Api.Dtos
@using Diary.Web.Controllers
@using Microsoft.AspNetCore.Mvc.Rendering
@using Microsoft.AspNetCore.Mvc.Localization
@using Simpler.Net.Mvc

@inject IViewLocalizer Localizer

@model EntryDto

@{
	var isEdit = Model?.Id > 0;
	this.Layout = "_Layout";
}
<h2>@Localizer[isEdit ? "Edit" : "Create"]</h2>

@using (Html.BeginForm(FormMethod.Post, new {enctype = "multipart/form-data" }))
{
	<label for="@Html.IdFor(m => m.Content)">@Localizer["Entry content"]:</label>
	<div>
		@Html.SimplerTextAreaFor(m => m.Content).AddClass("typed")
	</div>
	<div>
		<label for="@Html.IdFor(m => m.Timestamp)">@Localizer["Entry date"]:</label>
		@Html.EditorFor(m => m.Timestamp)
	</div>
	<div>
		<label for="@Html.IdFor(m => m.FileData)">@Localizer["File"]:</label>
		<input type="file" name="@Html.NameFor(m => m.FileData)" id="@Html.IdFor(m => m.FileData)" />
	</div>
	<div>
		<a class="button" href="@Url.Action(nameof(EntriesController.List))">@Localizer["Close"]</a>
		<input type="submit" name="save" value="Save"/>
		<input type="submit" name="saveAndClose" value="Save &amp; close"/>
	</div>
}