@using Diary.Api.Dtos
@using Diary.Web.Controllers
@using Simpler.Net.Mvc
@using Microsoft.AspNetCore.Mvc.Rendering
@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer

@model EntryDto

@{
	var isEdit = Model?.Id > 0;
	this.Layout = "_Layout";
}
<h2>@Localizer[isEdit ? "Edit" : "Create"]</h2>

@using (Html.BeginForm(FormMethod.Post))
{
	<label for="@Html.IdFor(m => m.Content)">@Localizer["Entry content"]:</label>
	<div>
		@Html.TextAreaFor(m => m.Content)
	</div>
	<div>
		<label for="@Html.IdFor(m => m.Timestamp)">@Localizer["Entry date"]:</label>
		@Html.EditorFor(m => m.Timestamp)
	</div>
	<div>
		<a class="button" href="@Url.Action(nameof(EntriesController.Display))">@Localizer["Close"]</a>
		<input type="submit" name="save" value="Save"/>
		<input type="submit" name="saveAndClose" value="Save &amp; close"/>
	</div>
}