@using Diary.Api.Dtos
@using Diary.Web.Controllers
@using Diary.Web.ViewModels
@using Simpler.Net.Time
@model EntriesIndexViewModel
@{
	Layout = "_Layout";
}

<h1>Entries</h1>
<a href="@this.Url.Action(nameof(EntriesController.New))">New</a>
<table>
	<tr>
		<th>Date</th>
		<th>Content</th>
		<th>Actions</th>
	</tr>
	@foreach (EntryDto entry in Model.Entries)
	{
		<tr>
			<td>@entry.Timestamp.ToShortDateString()</td>
			<td>@entry.Content</td>
			<td>
				<a href="@this.Url.Action(nameof(EntriesController.Edit), new {entry.Id})">Edit</a>
				<a href="@this.Url.Action(nameof(EntriesController.Delete), new {entry.Id})">Delete</a>
			</td>
		</tr>
	}
</table>